<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Video Clip Admin v2.0</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown"><%= partial(:progress_menu) %></li>
    <li class="dropdown"> <%= partial(:alerts_menu) %></li>
    <li class="dropdown"> <%= partial(:user_menu) %></li>
  </ul>

</nav>

<div id="page-wrapper" ng-controller="VideoClipChartController">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <big-stat panel-css="'panel-primary'" title="'Total'" number="stats.count" fa-font="'fa-comments'" ></big-stat>
    </div>

    <div class="col-lg-3 col-md-6">
      <big-stat panel-css="'panel-green'" title="'Direct'" number="stats.direct" fa-font="'fa-tasks'" ></big-stat>
    </div>
    <div class="col-lg-3 col-md-6">
      <big-stat panel-css="'panel-yellow'" title="'Transcoded'" number="stats.transcoded" fa-font="'fa-shopping-cart'" ></big-stat>
    </div>
    <div class="col-lg-3 col-md-6">
      <big-stat panel-css="'panel-red'" title="'Time'" number="ts" fa-font="'fa-support'" ></big-stat>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div report data="transfer_data" title="'Transcoding/clip length'" ></div>
      <%= partial(:bar_chart_example) %>
      <%= partial(:timeline) %>
    </div>
    <div class="col-lg-4">
      <%= partial(:notifications) %>

      <%= partial(:chat) %>
    </div>
  </div>
</div>




