<!DOCTYPE html>
<html ng-app="crp">
<head>
  <title>Eurucamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'components/bootstrap/dist/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'components/nvd3/nv.d3.css' %>
  <%= stylesheet_link_tag 'css/crp.css' %>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

<%= yield %>

<%= javascript_script_tag 'components/underscore/underscore.js' %>
<%= javascript_script_tag 'components/jquery/dist/jquery.js' %>
<%= javascript_script_tag 'components/bootstrap/dist/js/bootstrap.min.js' %>
<%= javascript_script_tag 'components/angular/angular.js' %>
<%= javascript_script_tag 'components/angular-resource/angular-resource.js' %>
<%= javascript_script_tag 'components/angular-route/angular-route.js' %>
<%= javascript_script_tag 'components/d3/d3.js' %>
<%= javascript_script_tag 'components/nvd3/nv.d3.js' %>
<%= javascript_script_tag 'components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js' %>


<%= javascript_script_tag 'js/crp_utils.js' %>
<%= javascript_script_tag 'js/video_clip/video_clip.js' %>
<%= javascript_script_tag 'js/crp.js' %>


</body>
</html>